<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="fragments/nav :: nav"></div>
    <!-- Admin Navbar -->
    <nav class="admin-navbar">
        <ul>
            <li><a th:href="@{/medicines/all}">Manage Medicines</a></li>
            <li><a th:href="@{/viewusers}">Manage Users</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <h2>Admin Dashboard</h2>
        <p>Welcome, Admin!</p>
    </div>

</body>
</html>
